:root {
  --background: #f8f8ff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Plus Jakarta Sans Variable', sans-serif;
  /* font-family: 'Inter Variable', sans-serif; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  font-family: 'Plus Jakarta Sans Variable', sans-serif;
  font-weight: 500;
  /* font: 800; */
  text-decoration: none;
}


.project-div {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 20px;
}

.task-div {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
