.main {
    height: 50vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: black; */
    transition: all .5s;
}
.delete {
    /* height: 50vh; */
    padding: 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* background-color: black; */
    transition: all .5s;
}

.hovered {
    background-color: #ebebf1;
    transition: all .5s;
}

.hoveredDelete {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
    background-color: #b46665;
    transition: all .5s;
    color: #f8f8f8;
    font-weight: 600;
}