.taskCard {
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #f8f8ff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
    gap: .8rem;
}

.status {
    min-width: 5px;
    background-color: black;
}

.title {
    font-size: 1rem;
}

.title > h1 {
    font-size: 1rem;
}

.cta {
    display: flex;
}